
@media screen and (max-width: 600px){
    header{
        top: 0;
        padding: 0;
    }
    header .right-header{
        padding: 2rem !important;
    }

    .theme-btn{
        width: 50px;
        height: 50px;
    }
    .header-content{
        grid-template-columns: 1fr;
        padding: 6rem;
    }
    .left-header{
        .h-shape{
            display: none;
        }
    }

    .right-header{
        grid-row: 1;
        width: 90%;
        margin: 0 auto;
        .name{
            font-size: 2.5rem !important;
        }
    }

    .header-content .left-header .image{
        margin: 0 auto;
        width: 300px;
        height: 230px;
    }

    .about-container{
        grid-template-columns: 1fr;
        .right-about{
            grid-template-columns: 1fr;
            padding-top: 2.5rem;
        }
        .left-about{
            padding-right: 0;
            p{
                padding-left: 0;
            }
            
        }
    }

    .timeline{
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }

    .about-stats{
        .progress-bars{
            grid-template-columns: 1fr;
        }
    }
    .portfolio{
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }

    .blogs{
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }

    .contact-content-con{
        flex-direction: column;
        .right-contact{
            margin-left: 0;
            margin-top: 2.5rem;
        }
    }
    .contact-content-con .right-contact .i-c-2{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact-content-con .right-contact .i-c-2 :last-child{
        margin-left: 0;
        margin-top: 1.5rem;
    }

    .main-title{
        h2{
            font-size: 2rem;
            span{
                font-size: 2.5rem;
            }
            .bg-text{
                font-size: 2.5rem;
            }
        }
    }

    .section{
        padding: 2rem 2.5rem;
        
    }

    .controlls{
        top: auto;
        bottom: 0;
        flex-direction: row;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
        background-color: var(---color-grey-5);
        width: 100%;
        height: 10%;
        .control{
            margin: 1rem .3rem;
        }
    }
}